aws_region                     = "us-east-1"
aws_account_id                 = "628031635965"
bucket_name                    = "shpitdev-convex-streaming-olap-export-628031635965"
current_prefix                 = "prod/staging/current"
role_name                      = "convex-streaming-olap-export-databricks-prod-reader"
databricks_unity_catalog_role_arn = "arn:aws:iam::414351767826:role/unity-catalog-prod-UCMasterRole-EXAMPLE"
external_id                    = ""
