aws_region  = "us-east-1"
bucket_name = "example-convex-sync-kit-bucket"

allowed_prefixes = [
  "*",
]

group_name  = "example-convex-sync-kit-s3-publishers"
policy_name = "example-convex-sync-kit-s3-publish"
user_name   = "example-convex-sync-kit-publisher"
